<a href="https://colab.research.google.com/github/annawang021/flight_delays/blob/main/cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("oleksiimartusiuk/bts-january-2024-commercial-flights-data")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/bts-january-2024-commercial-flights-data

In [17]:
df = pd.read_csv(path + "/T_ONTIME_MARKETING.csv")
df.head(10)

<ipython-input-17-c05984ba81c2>:1: DtypeWarning: Columns (40,44,45,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path + "/T_ONTIME_MARKETING.csv")

,FL_DATE,MKT_UNIQUE_CARRIER,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_CITY_MARKET_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST_CITY_MARKET_ID,DEST_CITY_NAME,...,DIV3_TAIL_NUM,DIV4_AIRPORT,DIV4_WHEELS_ON,DIV4_TOTAL_GTIME,DIV4_WHEELS_OFF,DIV4_TAIL_NUM,DIV5_AIRPORT,DIV5_WHEELS_ON,DIV5_WHEELS_OFF,DIV5_TAIL_NUM
0,1/1/2024 12:00:00 AM,AA,AA,N101NN,255,31703,"New York, NY",NY,32575,"Los Angeles, CA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2024 12:00:00 AM,AA,AA,N101NN,32,32575,"Los Angeles, CA",CA,31703,"New York, NY",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/1/2024 12:00:00 AM,AA,AA,N102NN,1578,30721,"Boston, MA",MA,32575,"Los Angeles, CA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/1/2024 12:00:00 AM,AA,AA,N102NN,1578,32575,"Los Angeles, CA",CA,30721,"Boston, MA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/1/2024 12:00:00 AM,AA,AA,N102UW,1225,30466,"Phoenix, AZ",AZ,34057,"Portland, OR",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1/1/2024 12:00:00 AM,AA,AA,N102UW,1225,34057,"Portland, OR",OR,30466,"Phoenix, AZ",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1/1/2024 12:00:00 AM,AA,AA,N102UW,1332,30325,"Denver, CO",CO,30466,"Phoenix, AZ",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1/1/2024 12:00:00 AM,AA,AA,N102UW,1332,30466,"Phoenix, AZ",AZ,30325,"Denver, CO",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1/1/2024 12:00:00 AM,AA,AA,N102UW,2658,34057,"Portland, OR",OR,30466,"Phoenix, AZ",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1/1/2024 12:00:00 AM,AA,AA,N103NN,2459,31703,"New York, NY",NY,32575,"Santa Ana, CA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.columns.tolist()

['FL_DATE',
 'MKT_UNIQUE_CARRIER',
 'OP_UNIQUE_CARRIER',
 'TAIL_NUM',
 'OP_CARRIER_FL_NUM',
 'ORIGIN_CITY_MARKET_ID',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'DEST_CITY_MARKET_ID',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'ARR_TIME',
 'ARR_DELAY',
 'ARR_DELAY_NEW',
 'CANCELLED',
 'CANCELLATION_CODE',
 'DIVERTED',
 'DUP',
 'DISTANCE',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'FIRST_DEP_TIME',
 'TOTAL_ADD_GTIME',
 'DIV_AIRPORT_LANDINGS',
 'DIV_ACTUAL_ELAPSED_TIME',
 'DIV1_AIRPORT',
 'DIV1_WHEELS_ON',
 'DIV1_TOTAL_GTIME',
 'DIV1_WHEELS_OFF',
 'DIV1_TAIL_NUM',
 'DIV2_AIRPORT',
 'DIV2_WHEELS_ON',
 'DIV2_TOTAL_GTIME',
 'DIV2_WHEELS_OFF',
 'DIV2_TAIL_NUM',
 'DIV3_AIRPORT',
 'DIV3_WHEELS_ON',
 'DIV3_TOTAL_GTIME',
 'DIV3_WHEELS_OFF',
 'DIV3_TAIL_NUM',
 'DIV4_AIRPORT',
 'DIV4_WHEELS_ON',
 'DIV4_TOTAL_GTIME',
 'DIV4_WHEELS_OFF',
 'DIV4_TAIL_NUM',
 'DIV5_AIRPORT',
 'DIV5_WHEELS_ON',
 'DIV5_WHEELS_OFF',
 'DIV5_TAIL_NUM']

In [19]:
df.shape

(582425, 59)

In [20]:
null_percentages = (df.isnull().sum() / len(df)) * 100
validate_summary = pd.DataFrame({
    'data type': df.dtypes,
    'null count': df.isnull().sum(),
    'null %': null_percentages
})

validate_summary = validate_summary.sort_values(by='null %', ascending=False)
validate_summary.head(59)

                        data type  null count      null %
DIV4_WHEELS_OFF           float64      582425  100.000000
DIV4_TOTAL_GTIME          float64      582425  100.000000
DIV4_AIRPORT              float64      582425  100.000000
DIV5_TAIL_NUM             float64      582425  100.000000
DIV5_WHEELS_OFF           float64      582425  100.000000
DIV5_WHEELS_ON            float64      582425  100.000000
DIV5_AIRPORT              float64      582425  100.000000
DIV4_TAIL_NUM             float64      582425  100.000000
DIV4_WHEELS_ON            float64      582425  100.000000
DIV3_TOTAL_GTIME          float64      582424   99.999828
DIV3_WHEELS_OFF           float64      582424   99.999828
DIV3_TAIL_NUM              object      582424   99.999828
DIV3_AIRPORT               object      582424   99.999828
DIV3_WHEELS_ON            float64      582424   99.999828
DIV2_WHEELS_OFF           float64      582403   99.996223
DIV2_TAIL_NUM              object      582403   99.996223
DIV2_TOTAL_GTIME          float64      582384   99.992960
DIV2_WHEELS_ON            float64      582384   99.992960
DIV2_AIRPORT               object      582384   99.992960
DIV_ACTUAL_ELAPSED_TIME   float64      581046   99.763231
DIV1_TAIL_NUM              object      581025   99.759626
DIV1_WHEELS_OFF           float64      581025   99.759626
DIV1_AIRPORT               object      580624   99.690776
DIV1_TOTAL_GTIME          float64      580624   99.690776
DIV1_WHEELS_ON            float64      580624   99.690776
FIRST_DEP_TIME            float64      577300   99.120058
TOTAL_ADD_GTIME           float64      577300   99.120058
CANCELLATION_CODE          object      560352   96.210156
CARRIER_DELAY             float64      447850   76.894021
NAS_DELAY                 float64      447850   76.894021
WEATHER_DELAY             float64      447850   76.894021
SECURITY_DELAY            float64      447850   76.894021
LATE_AIRCRAFT_DELAY       float64      447850   76.894021
ARR_DELAY                 float64       23710    4.070910
ARR_DELAY_NEW             float64       23710    4.070910
TAXI_IN                   float64       22332    3.834313
WHEELS_ON                 float64       22332    3.834313
ARR_TIME                  float64       22331    3.834142
TAXI_OUT                  float64       21910    3.761858
WHEELS_OFF                float64       21910    3.761858
DEP_DELAY                 float64       21470    3.686312
DEP_TIME                  float64       21396    3.673606
TAIL_NUM                   object        6276    1.077564
DISTANCE                  float64           0    0.000000
DUP                        object           0    0.000000
DIVERTED                  float64           0    0.000000
CANCELLED                 float64           0    0.000000
CRS_DEP_TIME                int64           0    0.000000
DEST_CITY_MARKET_ID         int64           0    0.000000
MKT_UNIQUE_CARRIER         object           0    0.000000
FL_DATE                    object           0    0.000000
OP_UNIQUE_CARRIER          object           0    0.000000
OP_CARRIER_FL_NUM           int64           0    0.000000
ORIGIN_CITY_MARKET_ID       int64           0    0.000000
ORIGIN_CITY_NAME           object           0    0.000000
ORIGIN_STATE_ABR           object           0    0.000000
DEST_STATE_ABR             object           0    0.000000
DEST_CITY_NAME             object           0    0.000000
DIV_AIRPORT_LANDINGS        int64           0    0.000000

In [21]:
mask = (df['CANCELLED'] != 1) & (df['DIVERTED'] != 1)
df = df[mask]

In [22]:
columns_to_drop = null_percentages[null_percentages > 10].index
df = df.drop(columns=columns_to_drop)
df.columns.tolist()

['FL_DATE',
 'MKT_UNIQUE_CARRIER',
 'OP_UNIQUE_CARRIER',
 'TAIL_NUM',
 'OP_CARRIER_FL_NUM',
 'ORIGIN_CITY_MARKET_ID',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'DEST_CITY_MARKET_ID',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'ARR_TIME',
 'ARR_DELAY',
 'ARR_DELAY_NEW',
 'CANCELLED',
 'DIVERTED',
 'DUP',
 'DISTANCE',
 'DIV_AIRPORT_LANDINGS']

In [23]:
df = df.drop(columns=['TAIL_NUM', 'OP_UNIQUE_CARRIER', 'ORIGIN_CITY_MARKET_ID', 'DEST_CITY_MARKET_ID', 'TAXI_OUT','TAXI_IN','WHEELS_OFF', 'WHEELS_ON','DUP', 'DIVERTED', 'CANCELLED', 'DIV_AIRPORT_LANDINGS', 'OP_CARRIER_FL_NUM'])
df.columns.tolist()

['FL_DATE',
 'MKT_UNIQUE_CARRIER',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'ARR_TIME',
 'ARR_DELAY',
 'ARR_DELAY_NEW',
 'DISTANCE']

In [24]:
df = df.dropna()
df.shape

(558715, 13)

In [26]:
df.to_csv('jan24flights_cleaned.csv', index=False)